statemachines/execution_workflow.asl.json
{
  "Comment": "Alchemiser Trade Execution Workflow - Two-Phase (SELL \u2192 BUY) with Circuit Breakers",
  "StartAt": "PrepareTrades",
  "States": {
    "PrepareTrades": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "${PrepareTradesFunctionArn}",
        "Payload.$": "$"
      },
      "ResultSelector": {
        "sellTrades.$": "$.Payload.sellTrades",
        "buyTrades.$": "$.Payload.buyTrades",
        "runId.$": "$.Payload.runId",
        "planId.$": "$.Payload.planId",
        "correlationId.$": "$.Payload.correlationId"
      },
      "ResultPath": "$.tradePhases",
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 2,
          "MaxAttempts": 3,
          "BackoffRate": 2.0
        }
      ],
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "ResultPath": "$.error",
          "Next": "WorkflowFailed"
        }
      ],
      "Next": "CheckIfSellTradesExist"
    },
    "CheckIfSellTradesExist": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.tradePhases.sellTrades[0]",
          "IsPresent": true,
          "Next": "ExecuteSellPhase"
        }
      ],
      "Default": "CheckIfBuyTradesExist"
    },
    "ExecuteSellPhase": {
      "Type": "Map",
      "ItemsPath": "$.tradePhases.sellTrades",
      "MaxConcurrency": 10,
      "ItemProcessor": {
        "ProcessorConfig": {
          "Mode": "INLINE"
        },
        "StartAt": "ExecuteSingleSellTrade",
        "States": {
          "ExecuteSingleSellTrade": {
            "Type": "Task",
            "Resource": "arn:aws:states:::lambda:invoke",
            "Parameters": {
              "FunctionName": "${ExecuteTradeSfnFunctionArn}",
              "Payload.$": "$"
            },
            "ResultSelector": {
              "tradeId.$": "$.Payload.tradeId",
              "symbol.$": "$.Payload.symbol",
              "action.$": "$.Payload.action",
              "status.$": "$.Payload.status",
              "quantity.$": "$.Payload.quantity",
              "averagePrice.$": "$.Payload.averagePrice",
              "totalValue.$": "$.Payload.totalValue",
              "orderId.$": "$.Payload.orderId",
              "errorMessage.$": "$.Payload.errorMessage"
            },
            "Retry": [
              {
                "ErrorEquals": [
                  "Lambda.ServiceException",
                  "Lambda.AWSLambdaException",
                  "Lambda.SdkClientException",
                  "Lambda.TooManyRequestsException"
                ],
                "IntervalSeconds": 2,
                "MaxAttempts": 3,
                "BackoffRate": 2.0
              }
            ],
            "Catch": [
              {
                "ErrorEquals": [
                  "States.ALL"
                ],
                "ResultPath": "$.error",
                "Next": "MarkSellTradeFailed"
              }
            ],
            "End": true
          },
          "MarkSellTradeFailed": {
            "Type": "Pass",
            "Parameters": {
              "tradeId.$": "$.tradeId",
              "symbol.$": "$.symbol",
              "action.$": "$.action",
              "status": "FAILED",
              "quantity.$": "$.quantity",
              "targetValue.$": "$.targetValue",
              "errorMessage": "Trade execution failed"
            },
            "End": true
          }
        }
      },
      "ResultPath": "$.sellResults",
      "Next": "EvaluateSellPhaseGuard"
    },
    "EvaluateSellPhaseGuard": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "${EvaluateSellGuardFunctionArn}",
        "Payload": {
          "sellResults.$": "$.sellResults",
          "failureThresholdUsd.$": "$.failureThresholdUsd",
          "correlationId.$": "$.tradePhases.correlationId",
          "runId.$": "$.tradePhases.runId",
          "failureThresholdUsd": "${SellFailureThreshold}"
        }
      },
      "ResultPath": "$.guardResult",
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 2,
          "MaxAttempts": 3,
          "BackoffRate": 2.0
        }
      ],
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "ResultPath": "$.error",
          "Next": "WorkflowFailed"
        }
      ],
      "Next": "CheckBuyPhaseGuard"
    },
    "CheckBuyPhaseGuard": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.guardResult.Payload.buyPhaseAllowed",
          "BooleanEquals": false,
          "Next": "BuyPhaseBlocked"
        }
      ],
      "Default": "CheckIfBuyTradesExist"
    },
    "CheckIfBuyTradesExist": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.tradePhases.buyTrades[0]",
          "IsPresent": true,
          "Next": "ExecuteBuyPhase"
        }
      ],
      "Default": "AggregateResults"
    },
    "BuyPhaseBlocked": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "${NotifyFailureFunctionArn}",
        "Payload": {
          "reason": "BUY_PHASE_BLOCKED",
          "sellResults.$": "$.sellResults",
          "guardResult.$": "$.guardResult",
          "correlationId.$": "$.tradePhases.correlationId",
          "runId.$": "$.tradePhases.runId"
        }
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 2,
          "MaxAttempts": 3,
          "BackoffRate": 2.0
        }
      ],
      "End": true
    },
    "ExecuteBuyPhase": {
      "Type": "Map",
      "ItemsPath": "$.tradePhases.buyTrades",
      "MaxConcurrency": 10,
      "ItemProcessor": {
        "ProcessorConfig": {
          "Mode": "INLINE"
        },
        "StartAt": "CheckEquityCircuitBreaker",
        "States": {
          "CheckEquityCircuitBreaker": {
            "Type": "Task",
            "Resource": "arn:aws:states:::lambda:invoke",
            "Parameters": {
              "FunctionName": "${CheckEquityLimitFunctionArn}",
              "Payload.$": "$"
            },
            "ResultPath": "$.circuitBreakerResult",
            "Retry": [
              {
                "ErrorEquals": [
                  "Lambda.ServiceException",
                  "Lambda.AWSLambdaException",
                  "Lambda.SdkClientException",
                  "Lambda.TooManyRequestsException"
                ],
                "IntervalSeconds": 2,
                "MaxAttempts": 3,
                "BackoffRate": 2.0
              }
            ],
            "Next": "EvaluateCircuitBreaker"
          },
          "EvaluateCircuitBreaker": {
            "Type": "Choice",
            "Choices": [
              {
                "Variable": "$.circuitBreakerResult.Payload.allowed",
                "BooleanEquals": false,
                "Next": "SkipBuyTrade"
              }
            ],
            "Default": "ExecuteSingleBuyTrade"
          },
          "ExecuteSingleBuyTrade": {
            "Type": "Task",
            "Resource": "arn:aws:states:::lambda:invoke",
            "Parameters": {
              "FunctionName": "${ExecuteTradeSfnFunctionArn}",
              "Payload.$": "$"
            },
            "ResultSelector": {
              "tradeId.$": "$.Payload.tradeId",
              "symbol.$": "$.Payload.symbol",
              "action.$": "$.Payload.action",
              "status.$": "$.Payload.status",
              "quantity.$": "$.Payload.quantity",
              "averagePrice.$": "$.Payload.averagePrice",
              "totalValue.$": "$.Payload.totalValue",
              "orderId.$": "$.Payload.orderId",
              "errorMessage.$": "$.Payload.errorMessage"
            },
            "Retry": [
              {
                "ErrorEquals": [
                  "Lambda.ServiceException",
                  "Lambda.AWSLambdaException",
                  "Lambda.SdkClientException",
                  "Lambda.TooManyRequestsException"
                ],
                "IntervalSeconds": 2,
                "MaxAttempts": 3,
                "BackoffRate": 2.0
              }
            ],
            "Catch": [
              {
                "ErrorEquals": [
                  "States.ALL"
                ],
                "ResultPath": "$.error",
                "Next": "MarkBuyTradeFailed"
              }
            ],
            "End": true
          },
          "SkipBuyTrade": {
            "Type": "Pass",
            "Parameters": {
              "tradeId.$": "$.tradeId",
              "symbol.$": "$.symbol",
              "action.$": "$.action",
              "status": "SKIPPED",
              "quantity.$": "$.quantity",
              "targetValue.$": "$.targetValue",
              "reason": "equity_limit_exceeded"
            },
            "End": true
          },
          "MarkBuyTradeFailed": {
            "Type": "Pass",
            "Parameters": {
              "tradeId.$": "$.tradeId",
              "symbol.$": "$.symbol",
              "action.$": "$.action",
              "status": "FAILED",
              "quantity.$": "$.quantity",
              "targetValue.$": "$.targetValue",
              "errorMessage": "Trade execution failed"
            },
            "End": true
          }
        }
      },
      "ResultPath": "$.buyResults",
      "Next": "AggregateResults"
    },
    "AggregateResults": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "${AggregateResultsFunctionArn}",
        "Payload": {
          "sellResults.$": "$.sellResults",
          "buyResults.$": "$.buyResults",
          "correlationId.$": "$.tradePhases.correlationId",
          "runId.$": "$.tradePhases.runId",
          "planId.$": "$.tradePhases.planId"
        }
      },
      "ResultPath": "$.aggregation",
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 2,
          "MaxAttempts": 3,
          "BackoffRate": 2.0
        }
      ],
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "ResultPath": "$.error",
          "Next": "WorkflowFailed"
        }
      ],
      "Next": "SendNotification"
    },
    "SendNotification": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "${NotifyCompletionFunctionArn}",
        "Payload": {
          "aggregation.$": "$.aggregation.Payload",
          "correlationId.$": "$.tradePhases.correlationId",
          "runId.$": "$.tradePhases.runId"
        }
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 2,
          "MaxAttempts": 3,
          "BackoffRate": 2.0
        }
      ],
      "End": true
    },
    "WorkflowFailed": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "${NotifyFailureFunctionArn}",
        "Payload": {
          "reason": "WORKFLOW_FAILED",
          "error.$": "$.error",
          "correlationId.$": "$.tradePhases.correlationId",
          "runId.$": "$.tradePhases.runId"
        }
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 2,
          "MaxAttempts": 3,
          "BackoffRate": 2.0
        }
      ],
      "End": true
    }
  }
}